$astral: rgb(48, 137, 155);
$alto: rgb(219, 219, 219);
$bolder: rgb(117, 117, 117);
$downy: rgb(97, 186, 204);
$mine-shaft: rgb(38, 38, 38);
$thunder: rgb(27, 25, 27);
$wild-sand: rgba(245, 245, 245, .9);
$wild-sand-solid: rgb(245, 245, 245);
